#sendMessage {
    position:absolute;
    bottom:0;
    right:0;
}

#textBox {
    font-size: 17px; 
    line-height: 17px; 
    padding: 19px;
    width:500px;

}

#sendButton{
    font-size: 17px; 
    line-height: 17px; 
    padding: 19px;
}

#chatContainer{
    display: flex;
}

#chatChild{
    flex: 1;
}

#chatChild:first-child{
    margin-right: 100px;
    padding-right: 100px;
}

#chatChild:nth-child(2){
    color: blue;
}